@model pzp.frontend2.Models.Appointment

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pielęgniarki z poMocą </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>


    <!-- HEADER -->
    <header>
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-5">
                </div>

                <div class="col-md-8 col-sm-7 text-align-right">
                    <span class="phone-icon"><i class="fa fa-phone"></i> 010-060-0160</span>
                    <span class="date-icon"><i class="fa fa-calendar-plus-o"></i>Poznań i okolice, 24h/7 dni w tygodniu</span>
                    <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#">pielegniarkizpomoca@gmail.com</a></span>
                </div>

            </div>
        </div>
    </header>


    <!-- MENU -->
    <section class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>

                <!-- lOGO TEXT HERE -->
                <a class="navbar-brand"><i class="fa-square-p"></i>Logo</a>
            </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#top" class="smoothScroll">Strona główna</a></li>
                         <li><a href="#about" class="smoothScroll">O Nas</a></li>
                         <li><a href="#team" class="smoothScroll">Nasi pracownicy</a></li>
                         <li><a href="#price-list" class="smoothScroll">Usługi</a></li>
                         <li><a href="#google-map" class="smoothScroll">Kontakt</a></li>
                         <li class="appointment-btn"><a href="#appointment">Umów się na wizytę</a></li>
                    </ul>
               </div>

        </div>
    </section>


    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="owl-carousel owl-theme">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Kim jesteśmy?</h3>
                                <h1>O nas</h1>
                                <a href="#about" class="section-btn btn btn-default smoothScroll">Poznaj nasze Pielęgniarki</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-second">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Co oferujemy?</h3>
                                <h1>Usługi</h1>
                                <a href="#price-list" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                            </div>
                        </div>
                    </div>

                              <div class="item item-third">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>Skontaktuj się z nami</h3>
                                             <h1>Formularz kontaktowy</h1>
                                             <a href="#appointment" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

            </div>
        </div>
    </section>


    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-7 col-sm-7">
                    <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.6s">Witaj w naszej rodzinie!</h2>
                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <p>Jesteśmy pielęgniarkami, absolwentkami studiów magisterskich Uniwersytetu Medycznego w Poznaniu. Razem stawiałyśmy pierwsze kroki w zawodzie, a wraz z nabywanym doświadczeniem zyskiwałyśmy przekonanie, że pielęgniarstwo to nasza pasja. Na co dzień łączymy pracę zarówno w warunkach domowych jak i szpitalnych, aby kompleksowo pielęgnować naszych pacjentów, znając ich wszystkie potrzeby.</p>
                           
                        </div>
                        <figure class="profile wow fadeInUp" data-wow-delay="1s">
                            <img src="images/author-image.jpg" class="img-responsive" alt="">
                            <figcaption>
                                <h3>Dr. Neil Jackson</h3>
                                <p>General Principal</p>
                            </figcaption>
                        </figure>
                    </div>

                </div>
                <div class="col-md-5 col-sm-5">
                    <img src="images/about.jpg">
                </div>
            </div>
        </div>
    </section>


    <!-- TEAM -->
    <section id="team" data-stellar-background-ratio="1">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.1s">Nasza obsługa</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="images/team-image1.jpg" class="img-responsive" alt="">

                        <div class="team-info">
                            <h3>Asia Siwek</h3>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                <li><a href="#" class="fa fa-envelope-o"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <img src="images/team-image2.jpg" class="img-responsive" alt="">

                        <div class="team-info">
                            <h3>Jason Stewart</h3>
                            <p>Pregnancy</p>
                            <div class="team-contact-info">
                                <p><i class="fa fa-phone"></i> 010-070-0170</p>
                                <p><i class="fa fa-envelope-o"></i> <a href="#">pregnancy@company.com</a></p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook-square"></a></li>
                                <li><a href="#" class="fa fa-envelope-o"></a></li>
                                <li><a href="#" class="fa fa-flickr"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <img src="images/team-image3.jpg" class="img-responsive" alt="">

                        <div class="team-info">
                            <h3>Miasha Nakahara</h3>
                            <p>Cardiology</p>
                            <div class="team-contact-info">
                                <p><i class="fa fa-phone"></i> 010-040-0140</p>
                                <p><i class="fa fa-envelope-o"></i> <a href="#">cardio@company.com</a></p>
                            </div>
                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-envelope-o"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>


     <!-- PRICE LIST -->
     <section id="price-list" data-stellar-background-ratio="2.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>Cennik usług</h2>
                         </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                            <table class="table table-striped table-border " id="price-table">
                                  <thead class="price-table-header">
                                    <tr>
                                      <td scope="col"><b>Usługa</b></td>
                                      <td scope="col"><b>Cena</b></td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Cewnikowanie kobiet (bez sprzętu do cewnikowania)</td>
                                      <td>120,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Cewnikowanie kobiet (sprzęt do cewnikowania w cenie)</td>
                                      <td>140,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Cewnikowanie mężczyzn (bez sprzętu do cewnikowania)</td>
                                      <td>150,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Cewnikowanie mężczyzn (sprzęt do cewnikowania w cenie)</td>
                                      <td>170,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Usuwanie cewnika</td>
                                      <td>50,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Ocena rany/odleżyny + dobranie opatrunków</td>
                                      <td>150,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Pierwsze zaopatrzenie rany w zależności od stopnia zaawansowania rany + koszt opatrunku</td>
                                      <td>50,00zł-200,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Toaleta ciała pacjenta w łóżku w jedną/dwie pielęgniarki (zmiana bielizny pościelowej + 10zł)</td>
                                      <td>150,00zł/220,00zł </td>
                                    </tr>
                                    <tr>
                                      <td>Mycie włosów w łóżku pacjenta</td>
                                      <td>100,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Toaleta ciała pacjenta pod prysznicem w jedną/dwie pielęgniarki</td>
                                      <td>100,00zł/150,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Podawanie iniekcji podskórnych*</td>
                                      <td>50,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Podawanie iniekcji domięśniowych*</td>
                                      <td>70,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Podawanie leków dożylnych* (Ze zleceniem lekarskim. Sprzęt nie jest wliczony w cenę.)</td>
                                      <td>100,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Podawanie leków dożylnych* (Ze zleceniem lekarskim. Sprzęt jest wliczony w cenę.)</td>
                                      <td>110,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Opieka nad pacjentem w ciągu dnia (Cena zależna od stanu pacjenta)</td>
                                      <td>70,00zł-90,00zł/h</td>
                                    </tr>
                                    <tr>
                                      <td>Opieka nad pacjentem w nocy (Cena zależna od stanu pacjenta)</td>
                                      <td>100,00zł-120,00zł/h</td>
                                    </tr>
                                    <tr>
                                      <td>Pomiar parametrów życiowych (ciśnienie krwi, tętno, temperatura ciała, saturacja, liczba oddechów, stężenie glukozy we krwi)</td>
                                      <td>30,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Edukacja diabetologiczna (edukacja z zakresu podawania insulin, pomiaru glikemii i interpretacji wyniku, edukacja na temat powikłań cukrzycy, samokontroli, samoobserwacji)<br/>* Godzinne spotkanie</td>
                                      <td>150,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Pielęgnacja/karmienie przez PEG-a  (+ 20,00zł za każdą rozpoczętą godzinę)</td>
                                      <td>30,00zł/50,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Pielęgnacja rurki tracheotomijnej</td>
                                      <td>80,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Pielęgnacja Stomii (bez ceny sprzętu)</td>
                                      <td>120,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Podawanie leków doustnych*</td>
                                      <td>30,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Pielęgnacja drenów</td>
                                      <td>50,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Wykonanie wlewki doodbytniczej/lewatywy + 80zł toaleta zanieczyszczonego pacjenta</td>
                                      <td>50,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Usuwanie szwów</td>
                                      <td>90,00zł-150,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Inhalacje (konieczność zapewnienia inhalatora przez pacjenta)</td>
                                      <td>50,00zł</td>
                                    </tr>
                                    <tr>
                                      <td>Dojazd do 5 km w cenie usługi, dojazd powyżej 5 km dopłata za kilometr</td>
                                      <td>2,00zł/km</td>
                                    </tr>
                                    <tr>
                                      <td>Dopłata za wizytę w dni wolne od pracy oraz w godzinach pomiędzy 21.00 a 7.00 +20% ceny świadczenia</td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td>Świadczenia niewymienione w cenniku podlegają indywidualnym ustaleniom po kontakcie telefonicznym/mailowym/przez formularz</td>
                                      <td></td>
                                    </tr>
                                    <tr>
                                      <td>* Ceny nie uwzględniają kosztów leków</td>
                                      <td></td>
                                    </tr>
                                  </tbody>
                             </table>
                         </div>
               </div>
          </div>
     </section>

     <!-- MAKE AN APPOINTMENT -->
     <section id="appointment" data-stellar-background-ratio="3">
          <div class="container">
               <div class="row">

                <div class="col-md-6 col-sm-6">
                    <img src="images/appointment-image.jpg" class="img-responsive" alt="">
                </div>

                <div class="col-md-6 col-sm-6">
                    <!-- CONTACT FORM HERE -->
                    <form asp-controller="Home" asp-action="SendMail" id="appointment-form" role="form" method="post">
                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                            <h2>Napisz do nas!</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <div class="col-md-6 col-sm-6">
                                <label for="name">Imię</label>
                                @Html.TextBoxFor(model => model.FirstName, new {@class = "form-control", @placeholder = "Twoje imię", @id="name", @name="name"})

                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="name">Nazwisko</label>
                                @Html.TextBoxFor(model => model.LastName, new {@class = "form-control", @placeholder = "Twoje nazwisko", @id="name", @name="name"})

                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="email">Email</label>
                                @Html.TextBoxFor(model => model.Email, new {@class = "form-control", @placeholder = "Twój mail", @id="email", @name="email"})
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="select">Select Department</label>
                                @Html.DropDownListFor(m => m.Service, Html.GetEnumSelectList(typeof(pzp.frontend2.Enums.Service)),
                                "Jakiej pomocy potrzebujesz?", new {@class="form-control"})
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <label for="telephone">Numer telefonu</label>
                                @Html.TextBoxFor(model => model.PhoneNumber, new {@class = "form-control", @placeholder = "Numer telefonu", @id="phone", @name="phone"})
                                <label for="Message">Dodatkowa wiadomość</label>
                                @Html.TextAreaFor(model => model.Body, new {@class = "form-control", @placeholder = "Twoja wiadomość", @id="message", @name="message", @rows="5"})
                                <button type="submit" class="form-control" id="cf-submit" name="submit" onclick="location.href='@Url.Action("SendMail", "Home", new {Subject = "qqqqqaaa"})'">Umów się!</button>
                            </div>
                        </div>
                    </form>
                </div>
                }
            </div>
        </div>
    </section>


    <!-- GOOGLE MAP -->
    <section id="google-map">
        <!-- How to change your own map point
                1. Go to Google Maps
                2. Click on your location point
                3. Click "Share" and choose "Embed map" tab
                4. Copy only URL and paste it within the src="" field below
        -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.2684536274137!2d16.8869804159851!3d52.41993335139241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470444be9c85a163%3A0xe687b8a108778e4c!2sZofii%20Na%C5%82kowskiej%2043%2C%2060-573%20Pozna%C5%84!5e0!3m2!1spl!2spl!4v1663422386111!5m2!1spl!2spl" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>


    <!-- FOOTER -->
    <footer data-stellar-background-ratio="5">
        <div class="container">
            <div class="row">

                <div class="col-md-7 col-sm-7">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Kontakt</h4>
                        <p>Świadczenia pielęgniarskie na terenie Poznania i okolic 24h/ 7 dni w tygodniu</p>
                        <div class="contact-info">
                            <p><i class="fa fa-phone"></i> 010-070-0170</p>
                            <p><i class="fa fa-envelope-o"></i> <a href="#">pielegniarkizpomoca@gmail.com</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-sm-5">
                    <div class="footer-thumb">
                        <div class="opening-hours">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s">Godziny otwarcia</h4>
                            <p>Monday - Friday <span>06:00 AM - 10:00 PM</span></p>
                            <p>Saturday <span>09:00 AM - 08:00 PM</span></p>
                            <p>Sunday <span>Closed</span></p>
                        </div>

                        <ul class="social-icon">
                            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 border-top">
                    <div class="col-md-4 col-sm-6">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2022 Pielęgniarki z pomocą</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-align-center">
                        <div class="angle-up-btn">
                            <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>